
.navbar {
    width: 100%;
    display: flex;
}
.navbar-logo {

    width: 200px;
    padding: 4em 0 0 4em; /*top right bottom left  */
}

.navbar-right ul {
    list-style: none;
}

.navbar-right ul a {
    text-decoration: none;
    color: #fff;
    padding: 0.4em 1em;
}

.navbar-right {
    justify-content: flex-end;
    padding: 4em 4em 0 0; /*top right bottom left  */
}

.video{
    z-index: -100;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-language {
    display: flex;
    justify-content: flex-end;
    padding: 4em 0 0 0; /*top right bottom left  */

}

/*push seperate the items on the navbar  */
.push {
    margin-left: auto;
}

.menu-icon {
   display: none;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: block;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }

    .navbar-right {
        justify-content: center;
        align-items: center;
        padding:0.5em 1em;
        color: blue;

    }

    .navbar-logo {
        width: 130px;
        padding: 1em 0 0 1em; /*top right bottom left  */
    }
    
}